<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="11" android:versionName="0.0.3" package="eu.ttbox.geoping">

    
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="16"/>

    
    
	<permission android:label="Read Person" android:name="eu.ttbox.geoping.PERSON_READ" android:protectionLevel="normal"/>
		
		
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
     
    
    
    <application android:debuggable="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:name="GeoPingApplication" android:theme="@style/AppTheme">
	    <meta-data android:name="com.google.android.backup.api_key" android:value="@string/backup_api_key"/>
	    
        <!-- Cloudmade Key http://developers.cloudmade.com/projects/web-maps-api/examples -->
        <meta-data android:name="CLOUDMADE_KEY" android:value="75b3a96b94c74eb0b7f1450ed5235a78"/>
        <!-- Bing Key https://www.bingmapsportal.com -->
        <meta-data android:name="BING_KEY" android:value="Ao79Q93fhgMvZfbRgKd5xG708MsP2yhnRFedFeWVeFrjMgBOY36-HkQIYc4cQ-Ai"/>

        <activity android:label="@string/app_name" android:name=".SmsTrakerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/> 
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".GeoTrakerActivity">
        </activity>

        <!-- Pref -->
        <activity android:name=".ui.prefs.TrakingPrefActivity">
        </activity>

        <!-- Map -->
        <activity android:launchMode="singleTask" android:name=".ui.map.ShowMapActivity" android:theme="@style/MapActionBar">
            <intent-filter>
                <action android:name="eu.ttbox.geoping.ACTION_NEW_GEOTRACK_INSERTED"/>
                
            </intent-filter>
        </activity>

        <!-- Sms Log -->
        <activity android:name=".ui.smslog.SmsLogListActivity"/>
        <!-- Person -->
        <activity android:name=".ui.person.PersonListActivity"/>
        <activity android:name=".ui.person.PersonEditActivity"/>

        
         <!-- Pairing -->
        <activity android:name=".ui.pairing.PairingListActivity">
        </activity>
        <activity android:name=".ui.pairing.PairingEditActivity">
        </activity>
        
        
        <!-- Receiver -->
        <receiver android:name=".service.slave.receiver.SMSReceiver">
            <intent-filter android:priority="100">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="false" android:name=".service.slave.receiver.ShutdownReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

         <!-- Widget Person -->
          <receiver android:label="@string/sms_action_geoping_request" android:name=".ui.widget.PersonWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter> 
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_geoping_info"/>
        </receiver>
        <service android:exported="false" android:name=".ui.widget.PersonWidgetService" android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <!-- Widget Pairing -->
          <receiver android:label="@string/sms_action_geoping_response" android:name=".ui.widget.PairingWidgetProvider" android:permission="eu.ttbox.geoping.PAIRING_READ">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter> 
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_geoping_info"/>
        </receiver>
        <service android:exported="false" android:name=".ui.widget.PairingWidgetService" android:permission="android.permission.BIND_REMOTEVIEWS"/>
        
        
        <!-- Sms service -->
        <service android:name=".service.slave.GeoPingSlaveService">
            	<intent-filter>
            	    <action android:name="eu.ttbox.geoping.ACTION_SLAVE_GEOPING_PHONE_AUTHORIZE"/>
            	    <category android:name="android.intent.category.DEFAULT"/>
            	</intent-filter>
        </service>
        <service android:name=".service.master.GeoPingMasterService">
        </service>
        
<!--         android:readPermission="eu.ttbox.geoping.PERSON_READ"  -->
        <provider android:authorities="eu.ttbox.geoping.PersonProvider" android:name=".domain.PersonProvider" android:writePermission="eu.ttbox.geoping.PERSON_WRITE"/>
        <provider android:authorities="eu.ttbox.geoping.GeoTrackerProvider" android:name=".domain.GeoTrackerProvider" android:readPermission="eu.ttbox.geoping.GEO_TRACK_READ" android:writePermission="eu.ttbox.geoping.GEO_TRACK_WRITE"/>
        <provider android:authorities="eu.ttbox.geoping.SmsLogProvider" android:name=".domain.SmsLogProvider" android:readPermission="eu.ttbox.geoping.SMSLOG_READ" android:writePermission="eu.ttbox.geoping.SMSLOG_WRITE"/>
        <provider android:authorities="eu.ttbox.geoping.PairingProvider" android:name=".domain.PairingProvider" android:readPermission="eu.ttbox.geoping.PAIRING_READ" android:writePermission="eu.ttbox.geoping.PAIRING_WRITE"/>
        <provider android:authorities="eu.ttbox.geoping.MessageProvider" android:name=".domain.MessageProvider" android:readPermission="eu.ttbox.geoping.MESSAGE_READ" android:writePermission="eu.ttbox.geoping.MESSAGE_WRITE"/>
        
		<uses-library android:name="com.google.android.maps" android:required="true"/>

		
</application>

</manifest>