<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.ttbox.geoping.gcm"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="16" />

    <application>
        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver"
                  android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="eu.ttbox.geoping.service.gcm"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="eu.ttbox.geoping.service.gcm"/>
            </intent-filter>
        </receiver>

        <service android:name="eu.ttbox.geoping.service.gcm.GCMIntentService"/>
        <activity android:name="eu.ttbox.geoping.service.gcm.RegisterActivity" android:launchMode="singleTop"/>
    </application>
    <permission android:name="eu.ttbox.geoping.service.gcm.permission.C2D_MESSAGE"
                android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="eu.ttbox.geoping.service.gcm.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
</manifest>